<section class="mt-10 w-screen flex flex-col items-center">
  <div class="p-8 bg-[#EDF0F4] rounded-xl shadow-neu1 shadow-neu2 mb-4">

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'border-none my-3 bg-[#EDF0F4] rounded-xl shadow-innerneu1 shadow-innerneu2 remove-border', placeholder: "Name" %>
  </div>
  
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'border-none my-3 bg-[#EDF0F4] rounded-xl shadow-innerneu1 shadow-innerneu2 remove-border', placeholder: "Email" %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'border-none my-3 bg-[#EDF0F4] rounded-xl shadow-innerneu1 shadow-innerneu2 remove-border', placeholder: "Password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'border-none my-3 bg-[#EDF0F4] rounded-xl shadow-innerneu1 shadow-innerneu2 remove-border', placeholder: "Password confirmation" %>
  </div>

  <div class="cursor-pointer flex justify-center actions w-[80px] py-2 px-4 mt-3 bg-[#EDF0F4] rounded-xl shadow-neu1 shadow-neu2">
    <%= f.submit "Sign up", class: 'cursor-pointer' %>
  </div>
<% end %>
</div>
  <div class="hover:text-blue-600">
    <%= render "devise/shared/links" %>
  </div>
</section>
