<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :preparation_time %>
    <%= form.number_field :preparation_time %>
  </div>
  <div>
    <%= form.label :cooking_time %> <br>
    <%= form.number_field :cooking_time %>
  </div>
  <div>
    <%= form.label :description %> <br>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :public %>
    <%= form.select :public, options_for_select([['True', true], ['False', false]]) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
