<section class="w-screen flex flex-col p-10">
  <h1 class="mb-6 text-2xl font-bold">Shopping List</h1>

  <div>
    <h2>Amount of food to buy: <%= @general_shopping_list.length%> </h2>
    <h2>Total value of food needed: <%= @general_shopping_list.sum { |item| item[:price] }%> </h2>
  </div>
  <div id="foods" class="w-full m-auto flex flex-col">
    <table class="text-left text-gray-500 dark:text-gray-400 bg-[#EDF0F4] rounded-xl shadow-neu1 shadow-neu2 mb-4">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <th scope="col" class="px-6 py-3">Food</th>
        <th scope="col" class="px-6 py-3">Quantity</th>
        <th scope="col" class="px-6 py-3">Price</th>
      </thead>
      <tbody>
        <% @general_shopping_list.each do |el| %>
          <tr class="border-b">
            <td class="px-5 py-4"><%= el[:name] %></td>
            <td class="px-5 py-4"><%= el[:quantity] %></td>
            <td class="px-5 py-4"><%= el[:price] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</section>

