<section class="mt-20 w-screen flex flex-col items-center">
  <div class="p-8 bg-[#EDF0F4] rounded-xl shadow-neu1 shadow-neu2 mb-4">
    <h2 class="mb-4 text-xl font-bold">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'border-none my-3 bg-[#EDF0F4] rounded-xl shadow-innerneu1 shadow-innerneu2 remove-border', placeholder: "Email" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", class: 'border-none my-3 bg-[#EDF0F4] rounded-xl shadow-innerneu1 shadow-innerneu2 remove-border', placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field flex items-center gap-3">
          <%= f.check_box :remember_me, class:'border-none my-3 bg-[#EDF0F4] rounded-xl shadow-innerneu1 shadow-innerneu2' %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="cursor-pointer flex justify-center actions w-[80px] py-2 px-4 mt-3 bg-[#EDF0F4] rounded-xl shadow-neu1 shadow-neu2">
        <%= f.submit "Log in", class: 'cursor-pointer' %>
      </div>
    <% end %>
  </div>
  <div class="hover:text-blue-600">
    <%= render "devise/shared/links" %>
  </div>
</section>


