<section class="mt-10 w-screen flex justify-evenly flex-wrap">
  <div class="p-8 bg-[#EDF0F4] rounded-xl shadow-neu1 shadow-neu2 mb-4">
    <h1 class="text-xl font-bold mb-6">Add ingredient to Recipe</h1>
    <%= form_with url: recipe_recipe_foods_path(recipe_id: @recipe.id), scope: :recipe_food do |form| %>
      <div class="form-div" >

        <div class='mt-4'>
          <%= form.label :food, class: 'form-label' %><br>
          <%= form.select :food_id, current_user.foods.map {|food| [food.name, food.id]}, class:"input-form"%><br>
        </div>

        <div class='form-item mt-4'>
          <%= form.label :quantity, class:"form-label" %><br>
          <%= form.number_field :quantity , class: 'border-none my-3 bg-[#EDF0F4] rounded-xl shadow-innerneu1 shadow-innerneu2 remove-border', required: true, placeholder: '0',  min: 1%><br>
        </div>

        <div class='mt-8 cursor-pointer flex justify-center actions w-[80px] py-2 px-4 mt-3 bg-[#EDF0F4] rounded-xl shadow-neu1 shadow-neu2'>
          <%= form.submit "Add", class:"cursor-pointer hover:text-green-600", id: 'submit' %>
        </div>
      </div>
    <%end%>
  </div>

  <div class="flex flex-col p-8 bg-[#EDF0F4] rounded-xl shadow-neu1 shadow-neu2 mb-4">
  <h1 class="mb-6 text-2xl font-bold">Measurement Units</h1>
  <div id="foods" class="w-full m-auto flex flex-col">
    <table class="text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <th scope="col" class="px-6 py-3">Food</th>
        <th scope="col" class="px-6 py-3">Measurement unit</th>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr class="border-b">
            <td class="px-6 py-4"><%= food.name %></td>
            <td class="px-6 py-4 text-center"><%= food.measurement_unit %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</section>
