<!DOCTYPE html>
<html>
  <head>
    <title>Recipes App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-[#EDF0F4] w-screen overflow-x-hidden">
    <header class="">
      <nav class="flex justify-end px-10 py-4">
        <ul class="flex sm:w-full w-4/5 justify-evenly">
          <li class="hover:text-gray-500 p-3 bg-[#EDF0F4] rounded-xl shadow-neu1 shadow-neu2 mb-4">
            <%= link_to 'Public Recipes', public_recipes_path, class: 'button' %>
          </li>
          <% if user_signed_in? %>
            <li class="hover:text-gray-500 p-3 bg-[#EDF0F4] rounded-xl shadow-neu1 shadow-neu2 mb-4">
              <%= link_to "/foods", remote: false do %>
                Foods
              <% end %>
            </li>
            <li class="hover:text-gray-500 p-3 bg-[#EDF0F4] rounded-xl shadow-neu1 shadow-neu2 mb-4">
              <%= link_to "/recipes", remote: false, id: 'recipes' do %>
                Recipes
              <% end %>
            </li>
            <li class="p-3 bg-[#EDF0F4] rounded-xl shadow-neu1 shadow-neu2 mb-4">
              <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "logout-button text-black hover:text-red-500" %>
            </li>
          <% else %>
              <%= button_to "Log in", new_user_session_path, method: :get, class: "text-black p-3 bg-[#EDF0F4] rounded-xl shadow-neu1 shadow-neu2" %>
            </li class="p-3 bg-[#EDF0F4] rounded-xl shadow-neu1 shadow-neu2 mb-4">
            <li>
              <%= button_to "Sign up", new_user_registration_path, method: :get, class: "signup-button text-black p-3 bg-[#EDF0F4] rounded-xl shadow-neu1 shadow-neu2" %>
            </li>
          <% end %>      
        </ul>
      </nav>
      <% if !user_signed_in? %>
        <div class="flex w-screen justify-center mt-10">
          <p class="animate-pulse">Please login or sign up to use the app</p>
        </div>
      <% end %>
      <div class="flex w-screen justify-center">
        <p class="text-lg notice text-green-600 mt-8 animate-pulse"><%= notice %></p>
        <p class="alert text-red-600"><%= alert %></p>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
