<!DOCTYPE html>
<html>
  <head>
    <title>Recipes App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="">
      <nav class="flex justify-end px-10 py-4">
        <ul class="flex w-4/5 justify-evenly">
          <li>
            <%= link_to 'Public Recipes', public_recipes_path, class: 'button' %>
          </li>
          <% if user_signed_in? %>
            <li>
              <%= link_to "/foods", remote: false do %>
                Foods
              <% end %>
            </li>
            <li>
              <%= link_to "/recipes", remote: false do %>
                Recipes
              <% end %>
            </li>
            <li>
              <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "logout-button text-black" %>
            </li>
          <% else %>
              <%= button_to "Log in", new_user_session_path, method: :get, class: "login-button text-black" %>
            </li>
            <li>
              <%= button_to "Sign up", new_user_registration_path, method: :get, class: "signup-button text-black" %>
            </li>
          <% end %>      
        </ul>
      </nav>
      <% if !user_signed_in? %>
        <p>Please login or sign up to use the app</p>
      <% end %>
      <p class="notice mt-8"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>
    <%= yield %>
  </body>
</html>
